@page "/testingapl"

@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigater
@attribute [Authorize]

<AuthorizeView Roles="diberysky">
    <Authorized>
        <h1>Authorized</h1>
    </Authorized>
    <NotAuthorized>
        <h1>NotAuthorized</h1>
    </NotAuthorized>
</AuthorizeView>

<PageSky MaxWidth="MaxWidth.Small" Title="Home" BottomBarVisibled>
    <PageContent>
        <MudPaper Class="border-3 border-solid mud-border-success pa-4">
            @for (int i = 0; i < 10; i++)
            {
                <h1>@i</h1>

                <p role="status">Current count: @currentCount</p>

                <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

                <MudDivider DividerType="DividerType.Middle" />
            }
        </MudPaper>
    </PageContent>
    @* <BottomBarContent>
        <MudSpacer />
        <MudText Color="Color.Success">武汉浩瀚科技有限公司</MudText>
        <MudSpacer />
    </BottomBarContent> *@
</PageSky>

@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var roles = user.Claims
                        .Where(c => c.Type == System.Security.Claims.ClaimTypes.Role)
                        .Select(c => c.Value)
                        .ToList();
        // 用调试输出或显示在页面上
        Console.WriteLine($"当前角色: {string.Join(", ", roles)}");
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}