@page "/weatherclient"
@attribute [Authorize]
@inject WeatherApiClient WeatherApi
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<PageSky Title="Weather Client" BottomBarVisibled>
    <PageContent>
        <h3>天气预报</h3>

        @if (_forecasts == null)
        {
            <p>加载中...</p>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>温度 (°C)</th>
                    <th>摘要</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var f in _forecasts)
                {
                    <tr>
                        <td>@f.Date.ToShortDateString()</td>
                        <td>@f.TemperatureC</td>
                        <td>@f.Summary</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </PageContent>
</PageSky>

@code {
    private WeatherForecast[]? _forecasts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _forecasts = await WeatherApi.GetForecastsAsync();
        }
        catch (HttpRequestException ex)
        {
            Snackbar.Details("检索失败。", ex.Message, DialogService);
        }
    }

}
